<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
 				<li><div style="top: 0; right: 0; width: 100px;"><img src="USATLAS.png" width="100"/></div></li>
		        <!--	<li><a href="/about">About</a></li>
	        		<li><a href="/BNL">BNL AF</a></li>
	        		<li><a href="/SLAC">SLAC AF</a></li>   -->
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:yesw@bnl.gov">email</a></li>
	        		<li><a href="https://www.github.com/usatlas">github.com/usatlas</a></li>
				</ul>
			</footer>
		</body>
	</html> 
